@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    overflow:hidden;
    background: url("bg4.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
canvas {
    z-index: 1;
    top: 0;
    position: fixed;
}

.container {
    height: 100vh;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.bottom, .top {
    text-shadow: black 2px 0 10px;
    color: white;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 4.5vh;
}
.bottom {
    padding-bottom: 10px;
}